.button{
    display: inline-block;
    border: solid 2px #FFFFFF;
    padding: 1rem 2rem;
    transition: all 0.125s;
    z-index: 1;
}

.button:hover{
    color: #19191E;
    background-color: #FFFFFF;
}

.nav{
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.logo{
    font-weight: 900;
}

.right{
    border-left: solid 2px #FFFFFF;
    border-right: 0px;
    position: absolute;
    right: 0;
}

.footerLogo{
    width: 8rem;
    height: fit-content;
    text-align: center;
    margin: 0;
}

.footerLink{
    border: none;
    width: 35%;
    font-size: 1.25rem;
    padding: 0.75rem;
}