.paragraph{
    z-index: 1;
}

.footerParagraph{
    font-size: 1.25rem;
}

.footerParagraphRight{
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.589);
    position: absolute;
    right: 32px;
    bottom: 32px;
}