.game-container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.task-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 80px;
}

.task-button {
    flex: 1 0 21%;
    padding: 10px;
    margin: 10px 1%;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-button:hover {
    background-color: #404652;
}

.task-button.active {
    background-color: #61dafb;
    color: black;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.answer-form {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.answer-form textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    color: #19191E;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
}

.answer-form button {
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-form button:hover {
    background-color: #404652;
}

.right-column {
    margin-top: calc(64px);
    flex: 1;
    padding: 20px;
    color: #19191E;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #ffffff;
}

