.task {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
}
