/* Visualizer.css */

.preview {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    word-wrap: break-word;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.preview h1 {
    color: #19191E;
    font-size: 40px;
    margin: 10px 0;
}

.preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
    margin: 12px 0;
    color: #19191E;
}

.preview p {
    color: #19191E;
    margin: 10px 0;
}

.preview table {
    color: #19191E;
    margin: 10px 0;
    border: 1px solid black;
    border-collapse: collapse;
}
.preview td, .preview tr, .preview th{
    margin: 10px 0;
    color: #19191E;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.preview ul {
    list-style-type: disc;
    padding-left: 40px;
    color: #19191E;
}

.preview ol {
    list-style-type: decimal;
    padding-left: 40px;
    color: #19191E;
}

.preview li {
    margin: 5px 0;
    color: #19191E;
}

.preview img {
    color: #19191E;
    max-width: 100%;
    height: auto;
    display: block; /* Ensure image is displayed as a block element */
    margin: 20px 0; /* Add margin to separate it from other elements */
}

.preview a {
    color: #007bff;
    text-decoration: none;
}

.preview a:hover {
    text-decoration: underline;
}

.preview button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.preview button:hover {
    background-color: #0056b3;
}

.preview input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;
}
.preview input[type="text"]::placeholder {
    color: #888; /* Цвет текста плейсхолдера */
    font-style: italic; /* Курсив для текста плейсхолдера */
}

.preview ul, .preview ol {
    list-style-position: outside; /* Ensure list markers are outside the content flow */
}

.preview ul li::marker, .preview ol li::marker {
    color: #19191E;
    font-weight: bold;
}
