.footer{
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 2rem;
    height: 20rem;
}

.footerWrapper{
    display: flex;
}

.footerWrapperBlock{
    display: grid;
    width: 25%;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

