.game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 100px;
  height: 100vh;
}

.game .quit {
  position: absolute;
  top: 650px;
  right: 200px;
}

.score-section {
  margin-top: 20px;
}

.score-section h2 {
  color: #4CAF50;
  margin-bottom: 50px;
}





