#board {
    background-color: rgb(140, 200, 120);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    position: relative;
    padding: 2em;
    margin-left: 100%;
}

#soil,
#overlay,
#garden,
#plants {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    padding: 2em;
    padding-top: 12vh;
}

#soil {
    overflow: hidden;
    background-image: url("../../assets/grass.svg");
    border-radius: 2px #291f0e;
}

.plot {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/dirt.svg");
    border: 1px solid #291f0e;
    position: relative;
}

.plant {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-repeat: repeat;
}

.treatment {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-repeat: repeat;
}

.plant .bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: 15%;
}
.treatment .bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plant.carrot .bg {
    background-image: url("../../assets/carrot.svg");
}

.plant.weed .bg {
    background-image: url("../../assets/weed.svg");
}

.treatment.carrot .bg {
    background-image: url("../../assets/water.svg");
    opacity: 33%;
}

.treatment.weed .bg {
    background-image: url("../../assets//poison.svg");
    opacity: 66%;
}

.grid-column-start-1 {
    grid-column-start: 1;
}

.grid-column-start-2 {
    grid-column-start: 2;
}

.grid-column-start-5 {
    grid-column-start: 5;
}

.grid-column-end-6 {
    grid-column-end: 6;
}

.grid-column-4 {
    grid-column: 4;
    grid-row: 1 / 6;
}

.grid-area-1-1-6-2 {
    grid-area: 1 / 1 / 6 / 2;
}

.grid-area-5-1-6-6 {
    grid-area: 5 / 1 / 6 / 6;
}

.grid-area-1-5-6-6 {
    grid-area: 1 / 5 / 6 / 6;
}